table {
    width: 100%;
    border: 1px solid #e0e0e0;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.mat-mini-fab{
    box-shadow: none !important;
}

.action-btn {
    margin: auto 4px !important;
}

.table-title {
    margin: 0px !important;
    vertical-align: middle;
    padding-top: 12px;
}

